---
import Layout from "@/layouts/default.astro";
import { Image } from "astro:assets";

const links = [
  [
    import("./_icons/github.svg"),
    "GitHub@ibuki2003",
    "https://github.com/ibuki2003",
  ],
  [
    import("./_icons/qiita.svg"),
    "Qiita@ibuki2003",
    "https://qiita.com/ibuki2003",
  ],
  [import("./_icons/zenn.svg"), "Zenn@fuwa2003", "https://zenn.dev/fuwa2003"],
  [
    import("./_icons/twitter.svg"),
    "Twitter@ibuki2003",
    "https://twitter.com/ibuki2003",
  ],
  [
    import("./_icons/misskey_io.svg"),
    "@fuwa2003@misskey.io",
    "https://misskey.io/@fuwa2003",
  ],
  [
    import("./_icons/keybase.png"),
    "keybase@fuwa2003",
    "https://keybase.io/fuwa2003",
  ],
  [
    "https://img.shields.io/endpoint?url=https%3A%2F%2Fatcoder-badges.now.sh%2Fapi%2Fatcoder%2Fjson%2Fibuki2003",
    "AtCoder@ibuki2003",
    "https://atcoder.jp/users/ibuki2003",
  ],
] as const;
---

<Layout title="About Me">
  <article class="main">
    <section id="personal_info">
      <img class="profilePic" src="/assets/fuwa.svg" alt="" />
      <div>
        <h2>杉山 衣吹 (にこなのにふわわあ)</h2>
        <p>Ibuki Sugiyama</p>
        <table id="profile_table">
          <tbody>
            <tr>
              <th>Affiliation</th>
              <td>
                東京大学 (理科一類 → 理学部情報科学科)
                <br />
                The University of Tokyo
                <br />
                (B2, 2027/03 卒業予定)
              </td>
            </tr>
            <tr>
              <th>Date of Birth</th>
              <td>2003/04/26</td>
            </tr>
            <tr>
              <th>OpenPGP Key</th>
              <td>
                <a href="https://fuwa.dev/fuwa.asc">
                  <code class="pgpKey">
                    <span>B9C6</span>
                    <span>B4B0</span>
                    <span>956F</span>
                    <span>BAE9</span>
                    <span>456E</span>
                    <span>2B38</span>
                    <span>615E</span>
                    <span>83E8</span>
                    <span>4465</span>
                    <span>1088</span>
                  </code>
                </a>
              </td>
            </tr>
            <tr>
              <th>Call sign</th>
              <td>JJ1FYD</td>
            </tr>
          </tbody>
        </table>

        <div class="links">
          <ul class="linkIcons">
            {
              links
                .filter((a) => a[0])
                .map(([icon, alt, href]) => (
                  <li>
                    <a href={href} rel="me">
                      {icon instanceof Promise ? (
                        <Image
                          src={icon as Promise<{ default: ImageMetadata }>}
                          alt={alt}
                          title={alt}
                        />
                      ) : (
                        <img src={icon} alt={alt} title={alt} />
                      )}
                    </a>
                  </li>
                ))
            }
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h2>Skills / Languages</h2>
      <ul class="skills">
        {
          (
            [
              ["C/C++", import("./_icons/cpp.svg")],
              ["Rust", import("./_icons/rust.svg")],
              ["HTML/JS/CSS", import("./_icons/html5.svg")],
              ["TypeScript", import("./_icons/typescript.svg")],
              ["PHP", import("./_icons/php.svg")],
              ["React.js", import("./_icons/react.svg")],
              ["Vue.js", import("./_icons/vue.svg")],
              ["Python3", import("./_icons/python.svg")],
              ["RDB / SQL", import("./_icons/mysql.svg")],
              ["Java", import("./_icons/java.svg")],
              ["Laravel (,Lumen)", import("./_icons/laravel.svg")],
              ["Git", import("./_icons/git.svg")],
              ["Linux", import("./_icons/archlinux.svg")],
              ["Docker", import("./_icons/docker.svg")],
            ] as const
          ).map(([name, logo]) => (
            <li>
              <Image src={logo} alt="" />
              <div>{name}</div>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h2>History</h2>
      <ol class="timeline">
        <li aria-hidden="true"></li>
        {
          [
            ["2016/04", "APCC入部"],
            ["2020/11", "パソコン甲子園2020 グランプリ (ひよこなめくじ)"],
            ["2022/03", "麻布高等学校 卒業", import("./_icons/azb.svg")],
            ["2022/04", "東京大学 入学", import("./_icons/ut.svg")],
          ].map(([date, detail, img]) => (
            <li class="timelineEntry">
              {img && <Image src={img} class="icon" alt="" />}
              <span class="date">{date}</span>
              <span class="detail">{detail}</span>
            </li>
          ))
        }
        <li class="timelineEntry now" aria-hidden="true"></li>
        <li class="timelineEntry future">
          <Image src={import("./_icons/ut.svg")} class="icon" alt="" />
          <span class="date">2027/03</span>
          <span class="detail">東京大学 卒業予定</span>
        </li>
      </ol>
    </section>
    <section>
      <h2>Notable Works</h2>
      <div class="works">
        {
          [
            {
              title: "麻布学園 文化祭管理システムCAPPUCCINO",
              date: "2020/12〜2021/11",
              href: "https://zenn.dev/su8ru/articles/cappuccino-system",
              description:
                "感染症対策のため来場者の入退場数を管理するシステム。麻布学園の第74回文化祭にて使用。",
            },
            {
              title: "PSkey",
              date: "2023/07〜",
              href: "https://github.com/ibuki2003/pskey",
              description: (
                <>
                  <a href="https://github.com/misskey-dev/pskey">Misskey</a>
                  のAndroidクライアント
                </>
              ),
            },
            {
              title: "MorseCord",
              date: "2023/07〜",
              href: "https://github.com/ibuki2003/morsecord",
              description: "モールス符号聞き取り練習のためのDiscord Bot",
            },
            {
              title: "Fuwa Online Judge",
              date: "2017/10 ～ 2020/10",
              href: "https://github.com/ibuki2003/onlinejudge",
              description:
                "競技プログラミングのためのオンラインジャッジシステム。中高の部内で使用",
            },
          ].map(({ title, date, href, description }) => (
            <div class="works-entry">
              <h3>
                <a href={href}>{title}</a>
              </h3>
              <p class="description">{description}</p>
              <p class="date">{date}</p>
            </div>
          ))
        }
      </div>
      <p><a href="https://github.com/ibuki2003">And more at GitHub</a></p>
    </section>
    <section>
      <h2>More information</h2>
      <ul>
        <li>
          <a href="/about/system/">System Information</a>
        </li>
      </ul>
    </section>
  </article>
</Layout>

<style lang="scss">
  section.main:not(:last-child) {
    margin-bottom: 3rem;
  }

  section#personal_info {
    display: flex;
    place-content: center;

    img.profilePic {
      background: #fff;
      height: 15rem;
      width: 15rem;
      border: 1px solid var(--fg1);
      margin-right: 2rem;
    }

    table {
      width: 100%;
      margin-top: 1rem;

      tr {
        background: transparent !important;
        border: none;

        th {
          border-right: 1px solid var(--fg1);
          text-align: right;
          width: 40%;
        }
      }

      &#profile_table tr {
        height: 2.5em;
      }
    }

    .pgpKey span:not(:last-child):after {
      content: " ";
    }

    .links {
      width: fit-content;
      margin-left: auto;

      a {
        text-decoration: none;
      }

      img {
        height: 1.2em;
        width: auto;
      }

      .linkIcons {
        padding-left: 0;
        margin-top: 2rem;
        text-align: right;

        li {
          display: inline;
          margin-right: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    section#personal_info {
      display: block;
      img.profilePic {
        width: 100%;
        height: auto;
        margin: 0 !important;
      }
    }
  }

  ul.skills {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    list-style: none;
    padding: 0;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 5em;
      margin: 1em;

      img {
        object-fit: contain;
        width: 5em;
        height: 5em;
        margin-bottom: 1em;
      }
      div {
        text-align: center;
      }
    }
  }

  $timeline-color: #99aaaa;
  ol.timeline {
    list-style: none;
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    li {
      display: flex;
      position: relative;
      margin-top: 1.5em;
      padding-left: 2em;

      &:after {
        content: "";
        height: calc(100% + 1.6em);

        border-left: 2px solid $timeline-color;
        position: absolute;
        top: 0;
        left: calc(1.5em / 2 - 1px);
        z-index: 5;
      }

      &.future:after,
      &.now:after {
        border-left-style: dotted !important;
      }

      &.timelineEntry {
        &:before {
          content: "";
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: $timeline-color;
          border: 5px solid var(--bg0);
          position: absolute;
          left: 0.15em;
          z-index: 10;
        }

        &.now:before {
          width: 20px;
          height: 20px;
          background: radial-gradient(circle, #4384f2 40%, var(--bg0) 90%);
        }
        &.now {
          height: 1em;
        }

        .icon {
          width: 1.5em;
          height: 1.5em;
          background: var(--bg0);
          border: 1px solid var(--bg0);
          z-index: 11;
          position: absolute;
          left: 0em;
          top: -0.25em;
        }

        .date {
          margin-right: 1em;
        }
        .detail {
          flex-grow: 1;
        }
      }
    }
  }

  .works {
    margin-left: auto;
    margin-right: auto;
    place-self: center;

    .works-entry {
      border-radius: 0.3rem;
      border: 1px solid rgba(50, 50, 50, 0.2);
      padding: 0.5rem;
      margin: 2em 1em;

      h3 {
        font-size: 1.3em;
      }

      .description {
        flex-grow: 1;
        ul {
          padding-left: 1.5em;
        }
      }
    }
  }
</style>
